package main

templ ProjectReadme(v ViewState) {
	if v.Proj.GithubRepo != "" {
		if v.Status == LoadFailed {
			<div id="project-readme">
				<p>{ t("project.readmeError") }</p>
			</div>
		} else if v.HTML != "" {
			<div id="project-readme" class={ "markdown-body " + markdownBodyStyle() }>
				@templ.Raw(v.HTML)
			</div>
		}
	}
}

templ ProjectMedia(videos []string) {
	if len(videos) > 0 {
		<div class={ "markdown-body " + markdownBodyStyle() }>
			<h2 id="project-media">{ t("project.media") }</h2>
			for _, v := range videos {
				<div class="youtube-video">
					<div class="iframeWrapper">
						<iframe width="560" height="349" src={ "https://www.youtube.com/embed/" + v + "?rel=0&hd=1" } title="YouTube video player" allowfullscreen></iframe>
					</div>
				</div>
			}
		</div>
	}
}

templ ProjectDemo(p Project) {
	if p.DemoUrl != "" {
		<div class={ "markdown-body " + markdownBodyStyle() }>
			<h2 id="project-demo">{ demoLabel(p) }</h2>
			if p.DemoInstructions != "" {
				<p>{ p.DemoInstructions }</p>
			}
			<div class={ demoWrapperClass(p.DemoHeight) }>
				<iframe id="demo" src={ p.DemoUrl } title={ p.Title + " demo" } allowfullscreen></iframe>
			</div>
			if p.DemoFullscreen {
				<br/>
				<div class="text-center">
					<button type="button" id="fullscreen" class={ "download-btn " + downloadBtnStyle() } data-action="toggle-fullscreen">
						@Icon("expand", "1rem")
						<span>{ t("project.fullscreen") }</span>
					</button>
				</div>
			}
		</div>
	}
}

templ ProjectLinks(links []ProjectLink) {
	if len(links) > 0 {
		<div class={ "markdown-body " + markdownBodyStyle() }>
			<h2 id="project-links">{ t("project.links") }</h2>
			<div class={ "download-buttons " + downloadButtonsStyle() }>
				for _, link := range links {
					<a href={ link.Href } target="_blank" rel="noopener noreferrer" class={ "download-btn " + downloadBtnStyle() }>
						@Icon(link.Icon, "1rem")
						<span>{ link.Title }</span>
					</a>
				}
			</div>
		</div>
	}
}

css projectDetailStyle() {
	& .project-title {
		color: var(--accent);
		font-size: 1.5em;
		margin: 0 0 0.02em 0;
		font-weight: bold;
	}
	& .project-description {
		margin: 0 0 0.5em 0;
		color: var(--text-light);
		font-size: 1.2em;
		line-height: 1.6;
	}
	& .project-tags {
		margin: 0.8em 0;
		font-size: 1.1em;
	}
	& .text-center {
		text-align: center;
	}
	& .youtube-video {
		margin: 20px 0;
	}
	& .iframeWrapper {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 25px;
		height: 0;
	}
	& .iframeWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 100%;
		overflow: hidden;
	}
	& .demo-iframe-wrapper {
		width: 100%;
		margin: 20px 0;
	}
	& .demo-iframe-wrapper iframe {
		width: 100%;
		height: 700px;
		max-width: 100%;
		border: none;
		overflow: hidden;
	}
}

templ ProjectDetail(v ViewState, commentsEnabled bool) {
	if v.Status == LoadNotFound {
		<div class={ "error-message " + errorMessageStyle() }>
			<h1>{ t("general.projectNotFound") }</h1>
			<p>{ t("general.projectNotFoundMessage") }</p>
		</div>
	} else {
		<div class={ "project-detail " + projectDetailStyle() }>
			<h1 class="project-title">{ v.Proj.Title }</h1>
			<p class="project-description">{ v.Proj.Description }</p>
			if len(v.Proj.Tags) > 0 {
				<div class="project-tags">
					for _, tag := range v.Proj.Tags {
						<span class={ "item-tag clickable-tag " + itemTagStyle() } data-search-tag={ tag }>{ tag }</span>
					}
				</div>
			}
			@TableOfContents(v.TOC)
			@ProjectReadme(v)
			@ProjectMedia(v.Proj.YoutubeVideos)
			@ProjectDemo(v.Proj)
			@ProjectLinks(v.Proj.Links)
			if commentsEnabled {
				<div class={ "giscus-container " + giscusStyle() }></div>
			}
		</div>
	}
}
