package main

templ PageView(html string, loading bool, isError bool) {
	if isError {
		<div class="error-message">
			<h1>{ t("general.notFound") }</h1>
			<p>{ t("general.notFoundMessage") }</p>
		</div>
	} else if loading {
		<div class="loading-spinner">{ t("general.loading") }</div>
	} else {
		<div class="page-view">
			<div class="markdown-body">
				@templ.Raw(html)
			</div>
		</div>
	}
}
